## 1.

Databases are the structured , well organised colleciton of data on a large level.

|  SQL  |  NoSQL  |
|--------|---------|
| RELATIONAL DATA | NONREATIONAL DATA |
| TABLE BASED | KEY VALUE + DOCUMENT + COLUMN BASED + GRAPH BASED |
| VERTICALLY SCALABLE | HORIZONTALLY SCALABLE |
| FOLLOWS "ACID" PROP. | FOLLOWS "CAP" PROPERTIES |
| DBMS's :- MySQL , MSSQL , Oracle, DB2 | DBMS'S :- MongoDB , Cassandra , Neo4j |
| preffered for relational data | preferred for big data with flexible data models |

## 2.

In [ ]:
DDL stands for data defintiton language'.
** CREATE : used for c reating a table in the database.
    CREATE TABLE STUDENT_NAME(
    ID INT NOT NULL PRIMARY ,
    NAME VARCHAR(20) NOT NULL 
    );
    
    
** ALTER : - USED for adding , deleting , changing the column names.
    ALTER TABLE STUDENT_NAME
    ADD BRANCH ;
    
    
** DROP :-Used for deleting the table from the database .
    DROP TABLE STUDENT_NAME ;
    
    
    
** TRUNCATE : Used for removing all the rows from the table but the table structure still exists.
    TRUNCATE TABLE STUDENT_NAME ;

## 3.

**DML :-  <br>
*| IT IS SUBSET OF SQL |  <br>
*| Stands for "Data Manipulation Language " | <br>
*| Used for manipulationg the comtents of the Table |<br>

INSERT: - <BR>
    USED FOR INSERTING THE ELEMENTS INTO THE TABLE <BR>
    **INSERT INTO STUDENT_NAME (ID INT , NAME VARCHAR(30)) VALUES (5 , "AYUSH RAJ") ;
    
    
DELETE : <BR>
    used for deleting the specified condition data from table.<br>
            DELETE FROM STUDENT_NAME <br>
             WHERE ID = 1 ;<br>
    
UPDATE : <br>
    USED FOR UPDATING THE VALUES OF THE TABLE.
    <br>UPDATE STUDENT_NAME 
    <br>WHERE ID = 2;

## 4.

DQL :- Component of SQL statement that alllows getting data from the database and imposing order upon it. <br>


SELECT : <br>
    FOR PRINTING THE VALUES OF THE TABLE WE R ASKING FOR.
    SELECT COL1 , COL2 FROM STUDENT_NAME WHERE ID = 1 OR ID = 2;

## 5.

Primary key : used for providing a unique identity within the table . <br>
    basically can be used  as an identifier of the table.<br>
    PRIMARY keyword is used for setting a column primary . <br>
    a table can have only one primary key.<br>
    can't be null. <br>
    
     PRIMARY KEY (COL_NAME) ;
        
        
Foreign Key : used for connencting two tables for reducing the data redundancy .

              FOREIGN KEY(COL_NAME_COMMON_IN_PARENT_AND_CHILD_TABLE_BOTH) REFERENCES  
                PARENT_TABLE(COL_NAME_COMMON_IN_PARENT_AND_CHILD_TABLE_BOTH) ;

## 6.

In [6]:
import mysql.connector
#database connenction
db = mysql.connector.connect(
        host = "localhost" ,
        user = "root" ,
        password = "password",
        database = "ayush"
)

# database object
db_cursor_object = db.cursor()
db_cursor_object.execute("select * from ayush")

db.commit()
db.close()

ProgrammingError: 1049 (42000): Unknown database 'ayush'

cursor() :- it is used to create a cursor object through which we can  perform  all operations on top of SQL queriez.

execute() :- for executing the sql queries given as arguments.

## 7.

ORDER OF Query EXECUTION Steps:-



                1. Getting Data (From, Join)
                2. Row Filter (Where)
                3. Grouping (Group by)
                4. Group Filter (Having)
                5. Return Expressions (Select)
                6. Order & Paging (Order by & Limit / Offset)